.main-box {
    background-color: #f5f5f5;
    padding-bottom: 20px;
  }

  .main {
    margin: 0 auto;
    max-width: 1225px;
  }

  /* 轮播图 */
  .block {
    margin: 0 auto;
    max-width: 1225px;
  }


  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }

  /* 轮播图CSS END */

  
  .box-hd {
    height: 58px;
    margin: 20px 0 0 0;
  }

  .box-hd .title {
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
  }

  .box-bd {
    height: 615px;
  }

  .box-bd .promo-list {
    float: left;
    height: 615px;
    width: 234px;
  }

  .box-bd .promo-list img {
    width: 234px;
  }


  .box-bd .list {
    float: left;
    height: 615px;
    width: 991px;
  }

  



